.georchestra-login {
    background-color: white;
    text-align: center;
    span {
        margin-top: 16px;
        display: inline-block;
    }
}

.joyride .joyride-overlay {
    position: fixed;
}

#georchestra-notallowed {
    position: absolute;
    width: 100%;
}
