//
// fixes to fit the iframe header
// inspired by the integration in geo-node
//

// tutorial
.joyride .joyride-overlay {
    position: fixed; // sets correct displacements of holes and popups, relative to the window
}

/*
 * CSS Used in geo-node integration, not yet used
 *
.btn-group-vertical > .btn:first-child:not(:last-child){
    border-top-left-radius: 0px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0px;
}

// modals
.modal-dialog.modal-content.modal-dialog-container.react-draggable{
    position: fixed;
    z-index: 100000 !important;
}
.gfi-t {
    float: left;
    padding: 1px
}

// full screen
.fill:not(:-webkit-full-screen){
    .notifications-tc, .notifications-tl, .notifications-tr {
        top: 63px !important;
    }
}

// notifications
.notifications-tc, .notifications-tl, .notifications-tr {
    top: 0px !important;
}
*/




//
// end of fixes for header
//
